.login-page2 {
  --login-bg: linear-gradient(-135deg, #797d83dc, #4158d0);
  --login-color: #333;
  --login-inner-bg: #fff;
  --login-input: #143c94;
  --login-input-bg: #e6e6e6;
  --login-input-placeholder: #999999;
  --login-btn: #fff;
  --login-btn-bg: #1a4dbd;
  --login-btn-bg-focus: #143c94;
  --login-btn-bg-hover: #333;
  --login-btn-bg-active: #143c94;
}
/* Estilos para el contenedor de inicio de sesión social */
.social-login-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.social-login-text {
    margin-bottom: 10px;
    color: #555;
    font-size: 14px;
}

/* Contenedor para alinear los botones */
.social-buttons {
    display: flex;
    justify-content: center;
    gap: 15px; /* Espacio entre los botones */
}

/* Estilo base para cada botón social */
.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%; /* Hace los botones circulares */
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.social-button:hover {
    opacity: 0.8;
}

/* Colores específicos para cada red social */
.google {
    background-color: #DB4437;
}

.facebook {
    background-color: #4267B2;
}

.github {
    background-color: #333;
}